#animated-text {
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: border-box;
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container-project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245, 245, 255);
}

.card-project {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  width: 260px;
  border-radius: 20px;
  padding: 160px 20px 20px 20px;
  position: relative;
  transition-duration: 200ms;
  background-color: white;
}

.card-project .content-project p {
  color: #888888;
  padding-top: 10px;
  font-size: 14px;
}

.img-project {
  transition-duration: 200ms;
  position: absolute;
  width: 280px;
  height: 200px;
  left: 10px;
  background: rgb(255, 0, 99);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 99, 1) 35%,
    rgba(247, 32, 32, 1) 100%
  );
  top: -50px;
  border-radius: 20px;
  box-shadow: 1px 2px 3px #999999;
}

.card-project:hover .img-project {
  transform: scale(1.2) translateX(-70px) translateY(60px);
  width: 100px;
  z-index: 0;
  height: 100px;
  border-radius: 50px;
}
.card-project:hover {
  padding-top: 20px;
  padding-left: 50px;
}
.card-project:hover h5 {
  display: none;
}
.card-project:hover .content-project {
  z-index: 6;
}
.card-project .content-project h5 {
  float: right;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

